<!DOCTYPE html>
<html>
  <head>
    <title>KadaiTw</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <header class ="header ">
    <h1>My Tweet</h1>
  </header>
  <%= yield %>
  <%= image_tag 'bird.png' %>
  <footer class ="footer">
     <p>Copyright © 2018 DIVE INC All RIGHTS RESERVED.</p>
  </footer>
  </body>
</html>
